<div>
  <ul class="font-medium text-lg">
    <li class="bg-red-50 rounded-xl p-2 hover:bg-red-100 cursor-pointer mb-3" routerLinkActive="bg-red-200">
     <a routerLink='dashboard'>Story</a> 
    </li>

    <li class="bg-red-50 rounded-xl p-2 hover:bg-red-100 cursor-pointer mb-3" routerLinkActive="bg-red-200">
      <a routerLink='#'>Setting</a> 
     </li>

     <li class="bg-red-50 rounded-xl p-2 hover:bg-red-100 cursor-pointer mb-3" routerLinkActive="bg-red-200">
      <a (click)="logout()">Logout</a> 
     </li>
    
    
  </ul>
</div>